<% layout('layouts/boilerplate') %>

<% let selectedCity = null %>

<div class="row">
    <h1 class='text-center'>Register a New Parking Lot!</h1>

    <div class="col-6 offset-3">
        <form action="/parkingLots/<%= parkingLot._id %>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="parkingLot[name]"
                    value="<%= parkingLot.name %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <select class="form-control" type="text" id="city" name="parkingLot[city]" required>
                    <% for(let city in cities) { %>
                        <option value="<%= city %>" <%= city === oldCity ? 'selected' : '' %>> <%= city %>
                        </option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="province">Province</label>
                <select class="form-control" type="text" id="province" name="parkingLot[province]" required>
                    <% for(let province of cities[oldCity]) { %>
                        <option value="<%= province %>" <%= province === oldProvince ? 'selected' : '' %>><%= province %>
                        </option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>

            <div class="mb-3">
                <% parkingLot.images.forEach((img, i) => { %>
                    <img src="<%= img.thumbnail %>" alt="image #<%= i+1 %>" class="img-thumbnail">

                    <div class="mb-3 form-check-inline">
                        <input type="checkbox" class="form-check-input" id="image-<%= i %>" name="deleteImages[]"
                            value="<%= img.filename %>">

                        <label class="form-check-label" for="image-<%= i %>">Delete</label>
                    </div>
                <% }) %>
            </div>

            <hr>

            <h4>Floors:</h4>
            <div class="floor-slot-area mb-5">
                <% let i = 0; %>
                <% for(const floor of parkingLot.floors) { %>
                    <div class="floor-set" id="floor-<%= i %>">
                        <label class="form-label" for="floor-input-<%= i %>"> <%= i + 1 %>. Floor:</label>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Number of Slots:</span>
                            <input type="number" class="form-control slot-input" name="parkingLot[floors][]"
                            id="floor-input-<%= i %>" required value="<%= floor.slots.length %>">

                            <button class="btn btn-danger delete-btn" type="button" data-close="floor-<%= i %>">X</button>
                        </div>
                    </div>
                    <% i++; %>
                <% } %>
                
                <button type="button" class="btn btn-primary mt-3" id="add-floor-btn">Add a Floor</button>
            </div>

            <hr>

            <h4>Prices:</h4>
            <div class="price-pair-area">
                <% let j = 0; %>
                <% for(const price of parkingLot.priceTable) { %>
                    <div class="price-set" id="price-<%= j %>">
                        <label class="form-label" for="price-input-<%= j %>"> <%= j + 1 %>. Price Pair:</label>
                    
                        <div class="input-group mb-3">
                            <span class="input-group-text">Starting Hour:</span>
                            <input type="number" class="form-control price-start-input" name="parkingLot[startHours][]"
                                id="price-input-<%= j %>" required value="<%= price.start %>">
    
                            <span class="input-group-text">Ending Hour:</span>
                            <input type="number" class="form-control price-end-input" name="parkingLot[endHours][]" required value="<%= price.end %>">
    
                            <span class="input-group-text">Price:</span>
                            <input type="number" class="form-control price-input" name="parkingLot[prices][]" required value="<%= price.price %>">
    
                            <button class="btn btn-danger delete-btn" type="button" data-close="price-<%= j %>">X</button>
                        </div>
                    </div>
                    <% j++; %>
                <% } %>

                <button type="button" class="btn btn-primary mt-3" id="add-price-btn">Add a Price Pair</button>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary">Update ParkingLot</button>
            </div>
        </form>

        <a href="/parkingLots">All ParkingLots</a>
    </div>
</div>

<script src="/js/dynamicCitySelect.js" type="module"></script>
<script src="/js/setFloorsAndPrices.js"></script>
